<div
    class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
>
    <div fxFlex="40" *ngIf="dish">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{ dish.name | uppercase }}</h3>
                </mat-card-title>
            </mat-card-header>
            <hr />
            <img mat-card-image src="{{ baseURL + dish.image }}" alt="{{ dish.name }}" />
            <mat-card-content>
                <p>{{ dish.description }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex="40">
        <div class="container" fxLayout="column">
            <div fxFlex *ngIf="dish">
                <h3>Comment</h3>
                <mat-list>
                    <mat-list-item *ngFor="let comment of dish.comments">
                        <div mat-line>{{ comment.comment }}</div>
                        <div mat-line>{{ comment.rating }} Stars</div>
                        <div mat-line>-- {{ comment.author }} {{ comment.date | date }}</div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div fxFlex *ngIf="dish" fxFlexOffset="20px" class="form-size">
                <div *ngIf="previewOn">
                    <mat-list-item>
                        <div mat-line>{{ dishComment.comment }}</div>
                        <div mat-line>{{ dishComment.rating }} Stars</div>
                        <div mat-line>-- {{ dishComment.author }} {{ dishComment.date | date }}</div>
                    </mat-list-item>
                </div>
                <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
                    <div>
                        <p>
                            <mat-form-field appearance="fill" class="form-size">
                                <input matInput formControlName="author" placeholder="Name" type="text" required />
                                <mat-error *ngIf="formErrors.author">{{ formErrors.author }}</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                    <div>
                        <mat-slider formControlName="rating" min="0" max="5" step="1" value="5" thumbLabel tickInterval="1"></mat-slider>
                    </div>
                    <div>
                        <p>
                            <mat-form-field appearance="fill">
                                <textarea matInput formControlName="comment" placeholder="Comment" type="text" required></textarea>
                                <mat-error *ngIf="formErrors.comment">{{ formErrors.comment }}</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                    <button *ngIf="submitDisabled" [disabled]="submitDisabled" type="submit" mat-raised-button>Submit</button>
                    <button
                        *ngIf="!submitDisabled"
                        [disabled]="submitDisabled"
                        type="submit"
                        mat-raised-button
                        class="background-primary text-floral-white"
                    >
                        Submit
                    </button>
                </form>
            </div>
            <div fxFill [hidden]="dish || errMess">
                <mat-spinner></mat-spinner>
                <h4>Loading . . . Please Wait</h4>
            </div>
            <div fxFlex *ngIf="errMess">
                <h2>Error</h2>
                <h4>{{ errMess }}</h4>
            </div>
        </div>
    </div>
</div>
