<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Corporate Leaders</mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-list>
        <mat-list-item *ngFor="let leader of leaders">
            <img matListAvatar src="{{ leader.image }}" alt="{{ leader.name }}" />
            <h3 mat-line>{{ leader.name }}</h3>
            <div mat-line>{{ leader.designation }}</div>
            <p mat-line>
                <span>{{ leader.description }}</span>
            </p>
            <br mat-line />
        </mat-list-item>
    </mat-list>
</mat-card>
